body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('img/70758591_xl.jpg') no-repeat center center;
    background-size: cover;
}
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    background-color: #f9f9f9;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}



.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #ddd;
}

.sidebar-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1001;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 20px;
}

.open-sidebar {
    right: 0;
}

.header {
    position: relative; 
    text-align: center; 
    margin-bottom: 20px; 
}

.header img {
    width: auto; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    border: none; 
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
}

.banner-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    width: 30px;
    height: auto;
    z-index: 10; 
    transition: transform 0.3s ease;
    transform: scale(0.6);
}

.banner-btn:hover {
    transform: scale(0.7); 
}

.content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.content div {
    margin-bottom: 20px;
}

.intro h1 {
    font-size: 20px;
}

.promo-video {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.promo-video iframe {
    width: 560px;
    height: 315px;
    border: none;
}

.buttons {
    text-align: center;
    margin-bottom: 20px;
	padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-size: cover;
    border-radius: 8px;
    position: relative;
}
.buttons h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: black;
    text-align: left;
}


.button-item {
    display: inline-block;
    margin: 0 30px; 
    text-align: center;
    position: relative; 
}

.button-item img {
    cursor: pointer;
    width: 200px;
    height: auto;
    transition: transform 0.3s ease; 
}

.button-item:hover img {
    transform: scale(1.1); 
}

.button-text {
    margin-top: 10px;
    font-size: 24px;
    color: black;
}


.buttons button {
    background-color: #FF6F61;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.buttons button:last-child {
    background-color: #7B68EE;
}

.buttons button:hover {
    background-color: #FF3B2E;
    transform: scale(1.05);
}

.buttons button:last-child:hover {
    background-color: #5A4EBF;
    transform: scale(1.05);
}

.image-container {
    text-align: center; 
    margin: 20px 0; 
}

.image-container img {
    max-width: 100%; 
    height: auto; 
    border: none; 
}

.knowledge {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background: url('img/70758591_xl.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.knowledge h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: black; 
}

.knowledge-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.button-container {
    flex: 1;
    min-width: 200px;
}

.button-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.button-container li {
    margin-bottom: 10px;
}

.button-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px; 
    margin: 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px; 
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: block;
    width: auto; 
}

.button-container button:hover {
    background-color: #007bff;
    transform: scale(1.05);
}

.video-container {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.video-container iframe {
    width: 560px;
    height: 315px;
    border: none;
}

.history h3 {
   text-align: left;
   font-size: 30px;
}
.history {
    margin-top: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.history a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: inherit;
    position: relative;
	text-align: center;
    transition: transform 0.3s;
}

.history a:hover {
    transform: scale(1.1);
}

.history img {
    max-width: 170px;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.3s;
}

.history a:hover img {
    transform: scale(1);
}

.history .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.history a:hover .caption {
    opacity: 1;
}

.floating-menu {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.main-button {
    width: 250px;
    height: 50px;
    border-radius: 30px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
	transition: transform 0.3s ease;
	opacity: 0.8;
}

.main-button:hover {
    transform: scale(1.05);
}

.menu {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 600px; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 10px;
}

.menu-button {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    text-align: left;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    white-space: nowrap;
	width: 170px;
    height: 60px;
	transition: transform 0.3s ease;
}

.menu-button img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.menu-button span {
    font-size: 14px;
}

.menu-button:hover {
    transform: scale(1.05);
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

footer {
    background-color: #343A40;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin: 0;
    min-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-btn img {
    height: 25px;
    width: auto;
    vertical-align: middle; 
}

footer p {
    margin: 0;
    color: white;
    font-size: 16px;
}



@media (max-width: 1250px) {
    .content {
        padding: 10px;
    }

    .promo-video iframe{
        width: 100%;
        height: auto;
    }
	.video-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
}

	.video-container iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

    .intro h1 {
        font-size: 20px;
    }

    .buttons button {
        padding: 10px 20px;
        font-size: 18px;
        margin: 5px 0;
    }

    .knowledge {
        padding: 10px;
    }

    .knowledge h3 {
        font-size: 24px;
    }

    .button-container button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .image-container img {
        max-width: 100%;
        height: auto;
    }
	.history {
        text-align: center;
        padding: 10px; 
    }

    .history a {
        max-width: 80%;
    }

    .history img {
        max-width: 100%; 
        height: auto;
    }

    .history .caption {
        font-size: 12px; 
        padding: 5px; 
    }
    .history h3 {
        font-size: 20px;
    }

    footer p {
        font-size: 14px;
    }
    .sidebar {
        width: 200px;
        right: -200px;
        transition: right 0.3s; 
    }

    .sidebar.open-sidebar {
        right: 0;
    }

    .sidebar-btn {
        font-size: 24px;
        padding: 3px 7px;
        z-index: 1001;
    }
   .floating-menu {
        width: 100%;
        left: 0;
        transform: none;
    }

    .main-button {
        width: 80px;
        height: 40px;
        font-size: 12px;
    }

    .menu {
        bottom: 70px;
        padding: 10px;
        max-height: 250px;
		
		grid-template-columns: repeat(4, 1fr); 	
		overflow-x: auto;
        display: flex;
        flex-direction: column;
        gap: 10px; 
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		width:45%
    }

    .menu-button {
        width: 100%; 
        height: 60px;
        font-size: 14px; 
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #f0f0f0;
        border: none;
        cursor: pointer;
        text-align: left;
        border-radius: 8px;
        text-decoration: none;
        color: black;
        white-space: nowrap;
        box-sizing: border-box;
    }

   .menu-button img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}

@media (max-width: 500px) {
    .content {
        padding: 10px;
    }

    .promo-video iframe{
        width: 100%;
        height: auto;
    }
	.video-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
}

	.video-container iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

    .intro h1 {
        font-size: 20px;
    }

    .buttons button {
        padding: 10px 20px;
        font-size: 18px;
        margin: 5px 0;
    }

    .knowledge {
        padding: 10px;
    }

    .knowledge h3 {
        font-size: 24px;
    }

    .button-container button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .image-container img {
        max-width: 100%;
        height: auto;
    }
	.history {
        text-align: center;
        padding: 10px; 
    }

    .history a {
        max-width: 80%;
    }

    .history img {
        max-width: 100%; 
        height: auto;
    }

    .history .caption {
        font-size: 12px; 
        padding: 5px; 
    }
    .history h3 {
        font-size: 20px;
    }

    footer p {
        font-size: 14px;
    }
    .sidebar {
        width: 200px;
        right: -200px;
        transition: right 0.3s; 
    }

    .sidebar.open-sidebar {
        right: 0;
    }

    .sidebar-btn {
        font-size: 24px;
        padding: 3px 7px;
        z-index: 1001;
    }
   .floating-menu {
        width: 100%;
        left: 0;
        transform: none;
    }

    .main-button {
        width: 80px;
        height: 40px;
        font-size: 12px;
    }

    .menu {
        bottom: 70px;
        padding: 10px;
        max-height: 250px;
		grid-template-columns: repeat(1, 1fr); 
		overflow-x: auto;
        display: flex;
        flex-direction: column;
        gap: 10px; 
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		width:90%
    }

    .menu-button {
        width: 100%; 
        height: 60px;
        font-size: 14px; 
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #f0f0f0;
        border: none;
        cursor: pointer;
        text-align: left;
        border-radius: 8px;
        text-decoration: none;
        color: black;
        white-space: nowrap;
        box-sizing: border-box;
    }

   .menu-button img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}


